<%= form_for(@sanpham) do |f| %>
  <% if @sanpham.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sanpham.errors.count, "error") %> prohibited this sanpham from being saved:</h2>

      <ul>
      <% @sanpham.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :MaMatHang %><br>
    <%= f.text_field :MaMatHang %>
  </div>
  <div class="field">
    <%= f.label :TenSP %><br>
    <%= f.text_field :TenSP %>
  </div>
  <div class="field">
    <%= f.label :HinhAnh %><br>
    <%= f.text_field :HinhAnh %>
  </div>
  <div class="field">
    <%= f.label :DonViTinh %><br>
    <%= f.text_field :DonViTinh %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
