<p id="notice"><%= notice %></p>

<h1>Listing Sanphams</h1>

<table>
  <thead>
    <tr>
      <th>Mamathang</th>
      <th>Tensp</th>
      <th>Hinhanh</th>
      <th>Donvitinh</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sanphams.each do |sanpham| %>
      <tr>
        <td><%= sanpham.MaMatHang %></td>
        <td><%= sanpham.TenSP %></td>
        <td><%= sanpham.HinhAnh %></td>
        <td><%= sanpham.DonViTinh %></td>
        <td><%= link_to 'Show', sanpham %></td>
        <td><%= link_to 'Edit', edit_sanpham_path(sanpham) %></td>
        <td><%= link_to 'Destroy', sanpham, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sanpham', new_sanpham_path %>
