<p id="notice"><%= notice %></p>

<p>
  <strong>Mamathang:</strong>
  <%= @sanpham.MaMatHang %>
</p>

<p>
  <strong>Tensp:</strong>
  <%= @sanpham.TenSP %>
</p>

<p>
  <strong>Hinhanh:</strong>
  <%= @sanpham.HinhAnh %>
</p>

<p>
  <strong>Donvitinh:</strong>
  <%= @sanpham.DonViTinh %>
</p>

<%= link_to 'Edit', edit_sanpham_path(@sanpham) %> |
<%= link_to 'Back', sanphams_path %>
